<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "pure-form pure-form-aligned"}) do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
  	 <div class="pure-control-group">
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>
   <div class="pure-controls">
  <%= f.submit "Sign up", class: "pure-button pure-button-primary" %></div>
</div>
</fieldset>
<% end %>

<%= render "devise/shared/links" %>
