<% current_user.posts.each do |post| %>
<div class='movie_post'>
 <%= link_to(post.title, post.trailer_url) %>
 <br>
 <%= link_to(image_tag(post.image_url, height: '200'), post.trailer_url) %>
  
  <% unless post.votes.empty? %>
    <br>
    <label>Vote Count:
    <%= post.votes.where(value: 1).count - post.votes.where(value: -1).count%>
    </label>
     <% if post.votes.first.value == 0 %>
       <%= link_to "Up Vote",         vote_path(post.votes.first, value: 1), :method => :put %>
       <%= link_to "Down Vote",       vote_path(post.votes.first, value: -1), :method => :put %>
     <% elsif post.votes.first.value == 1 %>
       <%= link_to "Remove Up Vote",  vote_path(post.votes.first, value: 0), :method => :put %>
       <%= link_to "Down Vote",       vote_path(post.votes.first, value: -1), :method => :put %>
     <% elsif post.votes.first.value == -1 %>
       <%= link_to "Up Vote",           vote_path(post.votes.first, value: 1), :method => :put %>
       <%= link_to "Remove Down Vote",  vote_path(post.votes.first, value: 0), :method => :put %>
     <%  end %>


  <% else %>
      <%= link_to post_votes_path(post, value: 1), :method => :post do %>
        <i class="icon-arrow-up icon-2x"></i>
      <% end %>
      <%= link_to post_votes_path(post, value: -1), :method => :post do %>
        <i class="icon-arrow-down icon-2x"></i>
      <% end %>
  <% end %>
</div>
<% end %>