<div class='profile'>
	<div class='profile-left'>
<p><%= button_to "Edit Profile", edit_user_registration_path, :method => "get", :class => 'pure-button pure-button-primary' %></p>

<p><%= image_tag(current_user.avatar, alt: current_user.email ) %></p>
</div>

<div class='profile-right'>
	Email: <%= current_user.email %>
	<br>
	Last signed in at: <%= current_user.last_sign_in_at.strftime('%D') %>
</div>
</div>

<%= render 'show_posts' %>
