<div class='container'>
  <div class='main'>
   <% @post.each do |f|%>
   <div class='movie_post'>
     <%= f.title%>
     <%= f.url%>
     <%= f.image_url %>
     <%= link_to "Up Vote!", votes_path(@post) %>
     <%= link_to "Down Vote!", votes_path(@post ) %>
     <% end %>
   </div>
 </div>