<div class='container'>
  <div class='main'>
   <% @posts.reverse.each do |post|%>
   <div class='movie_post'>
     <%= post.title%>
     <%= post.url%>
     <%= post.image_url %>
     <%= post.votes.where(value: 1).count - post.votes.where(value: -1).count%>
     <%  if current_user %>
     <%= link_to "Up Vote", new_post_vote_path(post, :value => 1) %>
     <%= link_to "Down Vote", new_post_vote_path(post, :value => -1) %>
     <%  end %>
   </div>
   <% end %>
 </div>
</div>