<h2>Create New Trailer Post</h2>

<%= form_tag(movie_search_path, method: "get", class: "pure-form pure-input-rounded") do %>
  <%= label_tag(:q, "Search for movie title:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag "Search", class: "pure-button pure-button-primary" %>
<% end %>

<br>
<br>
<br>
<%= form_for @post do |f| %>

  <div>
  <%= f.hidden_field :title %>
  </div>

  <div><%= f.submit "Create Post" %></div>
<% end %>

<div id="movie_list">
  <% if @movies %>
    <% @movies.each do |movie| %>
      <div class="movie">
        <% if movie.respond_to?(:posters) && movie.posters.respond_to?(:original) %>
          <%= image_tag(movie.posters.original, height: "200") %>
        <% end %>
        <div class="title">
          <%= movie.title %>
        </div>
        <% if movie.respond_to?(:release_dates) && movie.release_dates.respond_to?(:theater) %>
          <%= movie.release_dates.theater %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

