<h2>Create New Trailer Post</h2>

<%= form_tag(movie_search_path, method: "get", class: "pure-form pure-input-rounded") do %>
  <%= label_tag(:q, "Search for movie title:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag "Search", class: "pure-button pure-button-success" %>
<% end %>

<%= form_tag posts_url, method: 'post' do %>
  <div class='hidden'>
    <%= hidden_field_tag :title %>
    <%= hidden_field_tag :image_url %>
    <%= hidden_field_tag :clips_url %>
    <%= hidden_field_tag :release_date %>
    <%= hidden_field_tag :user_id, current_user.id %>
  </div>
  <div><%= submit_tag "Create Post", class: "pure-button pure-button-primary" %></div>
<% end %>

<div id="movie_list">
  <% if @movies %>
    <% @movies.each do |movie| %>
      <div class="movie">
        <div class="clips_url" style="display: none">
        <% if movie.respond_to?(:links) && movie.links.respond_to?(:clips) %>
          <%= movie.links.clips %>
        <% end %>
        </div>
        <% if movie.respond_to?(:posters) && movie.posters.respond_to?(:original) %>
          <%= image_tag(movie.posters.original, height: "200") %>
        <% end %>
        <div class="title">
          <%= movie.title %>
        </div>
        <% if movie.respond_to?(:release_dates) && movie.release_dates.respond_to?(:theater) %>
          <div class="release_date">
            <%= movie.release_dates.theater %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

