<h2>Create New Trailer Post</h2>

<div class='search_bar'>
  <%= form_tag(movie_search_path, method: "get", class: "pure-form pure-input-rounded") do %>
  <%= text_field_tag 'search', nil, class: 'pure-input-1-3', placeholder: 'Enter search term...'%>
  <button class="pure-button pure-button-active"><i class="icon-search"></i>Search</button>
  <% end %>
</div>

<%= form_tag posts_url, method: 'post' do %>
  <div class='hidden'>
    <%= hidden_field_tag :title %>
    <%= hidden_field_tag :image_url %>
    <%= hidden_field_tag :clips_url %>
    <%= hidden_field_tag :release_date %>
    <%= hidden_field_tag :critics_score %>
    <%= hidden_field_tag :critics_rating %>
    <%= hidden_field_tag :audience_score %>
    <%= hidden_field_tag :user_id, current_user.id %>
  </div>
  <div class="submit-movie"><%= submit_tag "Submit Movie", class: "pure-button pure-button-primary" %>
  </div>
<% end %>

<div id="movie-list">
  <% if @movies %>
    <%= render 'searched_movies'%>
  <% else %>
    <%= render 'upcoming_movies'%>
  <%end%>
</div>

